Web References/com.borland.demo/BorlandSampleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="A_ReadMeFirst">
        <s:complexType />
      </s:element>
      <s:element name="A_ReadMeFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A_ReadMeFirstResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="echoString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="echoStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoFloat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fFloat" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoFloatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="echoFloatResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoStringArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aStringArray" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoStringArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="echoStringArrayResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoObjectArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aObjectArray" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="echoObjectArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="echoObjectArrayResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNowAsShortString">
        <s:complexType />
      </s:element>
      <s:element name="GetNowAsShortStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNowAsShortStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNowAsDate">
        <s:complexType />
      </s:element>
      <s:element name="GetNowAsDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNowAsDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nMin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nMax" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRandomNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nAge" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sStreet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserInformationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInformation">
        <s:complexType />
      </s:element>
      <s:element name="GetUserInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserObject">
        <s:complexType />
      </s:element>
      <s:element name="GetUserObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserObjectResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserObjectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseUserAge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="tns:User" />
            <s:element minOccurs="1" maxOccurs="1" name="nIncrease" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseUserAgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IncreaseUserAgeResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="A_ReadMeFirstSoapIn">
    <wsdl:part name="parameters" element="tns:A_ReadMeFirst" />
  </wsdl:message>
  <wsdl:message name="A_ReadMeFirstSoapOut">
    <wsdl:part name="parameters" element="tns:A_ReadMeFirstResponse" />
  </wsdl:message>
  <wsdl:message name="echoStringSoapIn">
    <wsdl:part name="parameters" element="tns:echoString" />
  </wsdl:message>
  <wsdl:message name="echoStringSoapOut">
    <wsdl:part name="parameters" element="tns:echoStringResponse" />
  </wsdl:message>
  <wsdl:message name="echoFloatSoapIn">
    <wsdl:part name="parameters" element="tns:echoFloat" />
  </wsdl:message>
  <wsdl:message name="echoFloatSoapOut">
    <wsdl:part name="parameters" element="tns:echoFloatResponse" />
  </wsdl:message>
  <wsdl:message name="echoStringArraySoapIn">
    <wsdl:part name="parameters" element="tns:echoStringArray" />
  </wsdl:message>
  <wsdl:message name="echoStringArraySoapOut">
    <wsdl:part name="parameters" element="tns:echoStringArrayResponse" />
  </wsdl:message>
  <wsdl:message name="echoObjectArraySoapIn">
    <wsdl:part name="parameters" element="tns:echoObjectArray" />
  </wsdl:message>
  <wsdl:message name="echoObjectArraySoapOut">
    <wsdl:part name="parameters" element="tns:echoObjectArrayResponse" />
  </wsdl:message>
  <wsdl:message name="GetNowAsShortStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetNowAsShortString" />
  </wsdl:message>
  <wsdl:message name="GetNowAsShortStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetNowAsShortStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetNowAsDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetNowAsDate" />
  </wsdl:message>
  <wsdl:message name="GetNowAsDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetNowAsDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetRandomNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomNumber" />
  </wsdl:message>
  <wsdl:message name="GetRandomNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserInformationSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserInformation" />
  </wsdl:message>
  <wsdl:message name="SetUserInformationSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInformation" />
  </wsdl:message>
  <wsdl:message name="GetUserInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserObject" />
  </wsdl:message>
  <wsdl:message name="GetUserObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserObjectResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserObjectSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserObject" />
  </wsdl:message>
  <wsdl:message name="SetUserObjectSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IncreaseUserAgeSoapIn">
    <wsdl:part name="parameters" element="tns:IncreaseUserAge" />
  </wsdl:message>
  <wsdl:message name="IncreaseUserAgeSoapOut">
    <wsdl:part name="parameters" element="tns:IncreaseUserAgeResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="A_ReadMeFirst">
      <wsdl:input message="tns:A_ReadMeFirstSoapIn" />
      <wsdl:output message="tns:A_ReadMeFirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <wsdl:input message="tns:echoStringSoapIn" />
      <wsdl:output message="tns:echoStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="echoFloat">
      <wsdl:input message="tns:echoFloatSoapIn" />
      <wsdl:output message="tns:echoFloatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="echoStringArray">
      <wsdl:input message="tns:echoStringArraySoapIn" />
      <wsdl:output message="tns:echoStringArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="echoObjectArray">
      <wsdl:input message="tns:echoObjectArraySoapIn" />
      <wsdl:output message="tns:echoObjectArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNowAsShortString">
      <wsdl:input message="tns:GetNowAsShortStringSoapIn" />
      <wsdl:output message="tns:GetNowAsShortStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNowAsDate">
      <wsdl:input message="tns:GetNowAsDateSoapIn" />
      <wsdl:output message="tns:GetNowAsDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomNumber">
      <wsdl:input message="tns:GetRandomNumberSoapIn" />
      <wsdl:output message="tns:GetRandomNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserInformation">
      <wsdl:input message="tns:SetUserInformationSoapIn" />
      <wsdl:output message="tns:SetUserInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInformation">
      <wsdl:input message="tns:GetUserInformationSoapIn" />
      <wsdl:output message="tns:GetUserInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserObject">
      <wsdl:input message="tns:GetUserObjectSoapIn" />
      <wsdl:output message="tns:GetUserObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserObject">
      <wsdl:input message="tns:SetUserObjectSoapIn" />
      <wsdl:output message="tns:SetUserObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserAge">
      <wsdl:input message="tns:IncreaseUserAgeSoapIn" />
      <wsdl:output message="tns:IncreaseUserAgeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="A_ReadMeFirst">
      <soap:operation soapAction="http://tempuri.org/A_ReadMeFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <soap:operation soapAction="http://tempuri.org/echoString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoFloat">
      <soap:operation soapAction="http://tempuri.org/echoFloat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStringArray">
      <soap:operation soapAction="http://tempuri.org/echoStringArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoObjectArray">
      <soap:operation soapAction="http://tempuri.org/echoObjectArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNowAsShortString">
      <soap:operation soapAction="http://tempuri.org/GetNowAsShortString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNowAsDate">
      <soap:operation soapAction="http://tempuri.org/GetNowAsDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomNumber">
      <soap:operation soapAction="http://tempuri.org/GetRandomNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInformation">
      <soap:operation soapAction="http://tempuri.org/SetUserInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInformation">
      <soap:operation soapAction="http://tempuri.org/GetUserInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserObject">
      <soap:operation soapAction="http://tempuri.org/GetUserObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserObject">
      <soap:operation soapAction="http://tempuri.org/SetUserObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserAge">
      <soap:operation soapAction="http://tempuri.org/IncreaseUserAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="A_ReadMeFirst">
      <soap12:operation soapAction="http://tempuri.org/A_ReadMeFirst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <soap12:operation soapAction="http://tempuri.org/echoString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoFloat">
      <soap12:operation soapAction="http://tempuri.org/echoFloat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStringArray">
      <soap12:operation soapAction="http://tempuri.org/echoStringArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoObjectArray">
      <soap12:operation soapAction="http://tempuri.org/echoObjectArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNowAsShortString">
      <soap12:operation soapAction="http://tempuri.org/GetNowAsShortString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNowAsDate">
      <soap12:operation soapAction="http://tempuri.org/GetNowAsDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomNumber">
      <soap12:operation soapAction="http://tempuri.org/GetRandomNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInformation">
      <soap12:operation soapAction="http://tempuri.org/SetUserInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInformation">
      <soap12:operation soapAction="http://tempuri.org/GetUserInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserObject">
      <soap12:operation soapAction="http://tempuri.org/GetUserObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserObject">
      <soap12:operation soapAction="http://tempuri.org/SetUserObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserAge">
      <soap12:operation soapAction="http://tempuri.org/IncreaseUserAge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://demo.borland.com/BorlandSampleService/BorlandSampleService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://demo.borland.com/BorlandSampleService/BorlandSampleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>